.cart-product {
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(150, 150, 150, 0.2);
}

.cart-product__image {
  max-width: 50px;
  height: 50px;
  margin: 0;
  margin-right: 20px;
}

.cart-product__details {
  height: 100%;
  color: #404844;
  font-size: 12px;
}

.cart-product__title {
}

.cart-product__price {
}

.cart-product__curency {
}

.cart-product__volume {
  margin-left: 20px;
  display: inline-block;
  color: #b4b4b4;
  font-size: 14px;
}

.cart-product__total-price {
  /* margin-left: auto; */
  /* float: left; */
  flex-shrink: 0;
  flex-basis: 100px;
  text-align: right;
}

.quantity-selector--float-cart {
  width: 170px;
  margin-left: 20px;
  margin-right: 20px;
}
